scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/training
        create path (nt:unstructured) /content/dam/training/jcr:content
        set properties on /content/dam/training/jcr:content
        set cq:conf{String} to /conf/training
        set jcr:title{String} to \"Training\"
        end
        "
]
