.textAndImage {
  .cmp-teaser {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    .cmp-teaser__image {
      flex: 1;
      order: 2;
      margin: 50px;
    }
    .cmp-teaser__content {
      flex: 1;
      order: 1;
      margin: 50px;
    }
  }
  img {
    max-width: 600px;
  }

  @media (max-width: 767px) {
    .cmp-teaser {
      display: block;
    }
  }
}