<section
    data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html" id="header"
    data-sly-use.model="com.accenture.core.models.HeroModel">
    <div class="inner">
        <span class="icon solid major ${model.icon || 'fa-cloud'}"></span>
        <h1>${model.title}</h1>
        <p>${model.description}</p>
        <ul class="actions special">
            <li><a href="#one" class="button scrolly">${model.buttonText}</a></li>
        </ul>
    </div>
</section>

<sly data-sly-call="${commonsTemplates.placeholder @ isEmpty = !hasContent}"></sly>